<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusiUzFungovat"
        tools:targetApi="31" >

        <activity
            android:name=".FirstPageActivity"
            android:exported="true"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondPageActivity"
            android:theme="@style/Theme.MusiUzFungovat"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".PopUp"
            android:theme="@style/AppTheme.CustomeTheme">
        </activity>
        <activity android:name=".PostrehScoreActivity"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".PostrehActivity"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".MatematikaActivity"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Hra"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Question"
            android:theme = "@style/Theme.MusiUzFungovat"
            android:screenOrientation="landscape">
        </activity>


    </application>
</manifest>